
<!-- Footer-->
<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row" style="flex-wrap: wrap; ">
        <div class="col-sm-12 col-md-2 col-lg-2 item">
          <object class="img-fluid" type="image/svg+xml" data="assets/img/Blueprintlogo.svg"></object>
        </div>
        <div class="pl-5 pr-5 pt-2">
          <h3 class="footer-text footer-header"><a href="index.html">Home</a></h3>
          <ul>
            <li class="footer-text footer-option"><a href="index.html#section-about">About Us<br/></a></li>
            <li class="footer-text footer-option"><a href="index.html#section-get">Get Involved<br/></a></li>
            <li class="footer-text footer-option"><a href="index.html#section-contact">Contact<br/></a></li>
          </ul>
        </div>
        <div class="pl-5 pr-5 pt-2">
          <h3 class="footer-text footer-header"><a href="about.html">About</a></h3>
          <ul>
            <li class="footer-text footer-option"><a href="about.html#section-mission">Mission<br/></a></li>
            <li class="footer-text footer-option"><a href="about.html#section-value">Values<br/></a></li>
            <li class="footer-text footer-option"><a href="about.html#section-team">The Team<br/></a></li>
            <li class="footer-text footer-option"><a href="about.html#section-chapter">Chapters<br/></a></li>
          </ul>
        </div>
        <div class="pl-5 pr-5 pt-2">
          <h3 class="footer-text footer-header"><a href="projects.html">Projects</a><br/></h3>
          <ul>
            <li class="footer-text footer-option"><a href="projects.html">Current<br/></a></li>
            <li class="footer-text footer-option"><a href="projects.html">Past<br/></a></li>
            <li class="footer-text footer-option"><a class="unavailable" href="#" onclick="return false;">Archive<br/></a></li>
            <li class="footer-text footer-option"><a class="unavailable" href="#" onclick="return false;">FAQ<br/></a></li>
          </ul>
        </div>
        <div class="pl-5 pr-5 pt-2">
          <h3 class="footer-text footer-header"><a href="apply.html">Apply</a><br/></h3>
          <ul>
            <li class="footer-text footer-option"><a class="unavailable" href="#" onclick="return false;">Non Profits<br/></a></li>
            <li class="footer-text footer-option"><a class="unavailable" href="forstudent.html">Students<br/></a></li>
            <li class="footer-text footer-option"><a class="unavailable" href="apply.html#section-apply" onclick="return false;">FAQ<br/></a></li>
          </ul>
        </div>
        <div class="pl-5 pr-5 pt-2">
          <h3 class="footer-text footer-header"><a>Social</a><br/></h3>
          <ul>
            <li class="footer-text footer-option"><a href="https://www.facebook.com/cublueprint/">Facebook<br/></a></li>
            <li class="footer-text footer-option"><a href="https://twitter.com/cublueprint">Twitter<br/></a></li>
            <li class="footer-text footer-option"><a href="https://www.linkedin.com/company/cublueprint/">LinkedIn<br/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>